

.techo {
  background-color: #8e44ad; 
  height: 50px; 
  width: 100%; 
  position: absolute; 
  top: -50px; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
}

.contenedor{
  margin-top: -3%;
  margin-left: 0%;
  width: 100%;
  border-radius: 0;
}

.casa{
  margin: 0%;
  margin-top: 10rem;
  margin-left: 2%;
  width: 96%;
  height: auto;
  border-radius: 0;
  padding: 10%;
  padding-bottom: 1%;
  background-color: rgb(106, 142, 186);
}

.ventana{
  margin: 0%;
  height: 150px;
  background-color: rgba(43, 41, 41, 0.045);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2; /* Asegura que el ion-card esté delante de la imagen */
}

ion-icon{
  font-size: 3em;
}

.texto-ventana {
  color: white;
}
