<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caleta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="combined-content">
 
 
  <ion-card class="contenedor">
    <ion-card class="casa">
      

    

      
      <ion-grid>
        <ion-row>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(1)" [style]="color">
              <ion-icon name="home"></ion-icon>
              <p class="texto-ventana">Salón</p>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(2)" [style]="color2">
               <ion-icon name="water"></ion-icon>
              <p class="texto-ventana">Baño</p>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(3)" [style]="color3">
              <ion-icon name="pizza"></ion-icon>
              <p class="texto-ventana">Cocina</p>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(4)" [style]="color4">
              <ion-icon name="bed"></ion-icon>
              <p class="texto-ventana">Habitación 3</p>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(5)" [style]="color5">
              <ion-icon name="bed"></ion-icon>
              <p class="texto-ventana">Habitación Principal</p>
            </ion-card>
          </ion-col>
          <ion-col size-md="4" size-lg="2">
            <ion-card class="ventana" (click)="enc(6)" [style]="color6">
              <ion-icon name="bed"></ion-icon>
              <p class="texto-ventana">Habitación 2</p>  
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-card>
</ion-content>
